<div id = "footer" class = "col-md-12">
  <div class = "col-md-10 col-md-offset-1">
    <div class = " footer-content text-right">
      &copy; 2014 Seven Ounces
      <!-- <div class="footer-item"><%= link_to "What's this about?", home_about_path %></div>-->
    </div>
  </div>
</div>