<div id = "footer" class = "col-md-12 text-center"  >
  <div class="footer-content">
    <div class="footer-item"><%= link_to "What's this about?", home_about_path %></div>
    <div class="footer-item"><%= link_to "Our Test Kitchen", "/" %></div>
  </div>
</div>