<div id="header-container">
  <div id="header">
    <div class="col-md-10 col-md-offset-1 clearfix">
      <a href="/">
        <%= image_tag 'logo-small-seven-ounces.png', class: 'logo-sm' %>
      </a>
      <div class="pull-right">
        <div class="nav-item"><%= link_to 'HOME', "/" %></div>
        <div class="nav-item"><%= link_to 'ABOUT', "/" %></div>
        <div class="nav-item"><%= link_to 'KITCHEN', "/" %></div>
      </div>
    </div>
  </div>
</div>
<div id="header-offset"></div>
