<div id="header_container">
  <div id="header">
    <%= image_tag 'logo-small-seven-ounces.png', class: 'logo' %>
    <div class="pull-right">
      <div class="nav-item"><%= link_to 'ABOUT', "/" %></div>
      <div class="nav-item"><%= link_to 'FIND', "/" %></div>
      <div class="nav-item"><%= link_to 'MAKE', "/" %></div>
    </div>
  </div>
</div>
