<div id="header-container">
  <div id="header">
    <div class="col-md-10 col-md-offset-1 clearfix">
      <a href="/">
        <%= image_tag 'logo-small-seven-ounces.png', class: 'logo-sm' %>
      </a>
      <div class="pull-right">
        <!-- <div class="nav-item"><%= link_to "In need of a Nutella fix?", root_path %></div> -->
        <div class="nav-item"><%= link_to "What's this about?", home_about_path %></div>
        <div class="nav-item"><%= link_to "Our Test Kitchen", "/" %></div>
      </div>
    </div>
  </div>
</div>
<div id="header-offset"></div>
