<% flash.each do |name, msg| %>
  <div class = "alert alert-dismissible alert-<%= name == :notice ? 'success' : 'warning' %>" role = "alert">
    <button type = "button" class = "close" data-dismiss = "alert">
      <span aria-hidden = "true">&times;</span>
      <span class = "sr-only">Close</span>
    </button>
    <%= msg %>
  </div>
<% end %>