<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? 'success' : 'danger' %> alert-dismissible text-center" role="alert">
    <i class = "fa fa-warning"></i>
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    Oh no! It looks like something went wrong.<br /><%= msg %>
  </div>
<% end %>