/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

/*** COLOR VARIABLES ***/

$primary-color: #ea6c5d;
$neutral-dark: #555555;
$neutral-light: #c4c4c4;
$neutral-extra-light: #eeeeee;


/*** HEADER STYLES ***/

#header-container {
  background: $primary-color;
  left: 0;
  min-height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

#header{
  line-height: 3.5em;
  margin: 0 auto;
  width: 100%;
}

#header-offset {
  height: 60px;
}

@mixin animation($name, $duration) {
  -webkit-animation: $name $duration;
  -mox-animation: $name $duration;
  -o-animation: $name $duration;
  animation: $name $duration;
}

.logo-sm {
  width: 150px;
  margin-top: 0px;
}

@mixin vendor-prefix-keyframes($name, $property, $from, $to) {
  @-o-keyframes $name {
    from { #{$property}: $from; }
    to { #{$property}: $to; }
  }

  @-moz-keyframes $name {
    from { #{$property}: $from; }
    to { #{$property}: $to; }
  }

  @-webkit-keyframes $name {
    from { #{$property}: $from; }
    to { #{$property}: $to; }
  }

  @keyframes $name {
    from { #{$property}: $from; }
    to { #{$property}: $to; }
  }
}

@include vendor-prefix-keyframes(slideIn, margin-top, -100px, 0px);

.nav-item {
  display: inline-block;
  height:100%;
  margin: 2px 20px;
}

.nav-item a {
  color: white;
  font-size: 1em;
  height:100%;
}

.nav-item a:hover {
  opacity:0.8;
  text-decoration: none;
}

/* banner below navigation, not sticky */
.banner-image {
  background-image: url('nutella-muffin-placeholder.jpg');
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;  
}


/*** BODY STYLES ***/

html, body {
  background: $neutral-extra-light;
  height:100%;
}

body {
  background: $neutral-extra-light;
  color: $neutral-dark;
  font-family: 'Lato', sans-serif;
  height:100%;
  line-height: 1.4em;
}

.home-bckgd body {
  background: none;
}

/*** BUTTON STYLES ***/

.btn {
  color: white;
  font-size: 1.4em;
  margin: 0 15px 20px 15px;
  padding: 10px 25px;
}

.btn:hover {
  color:white;
  opacity: 0.7;
}

.btn a {
  color: white;
}

.btn a:hover {
  color: white;
  text-decoration: none;
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
  font-weight: 400;
}

.btn-primary:hover {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-primary:active {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-yummly-logo {
  background-color: $primary-color;
  border-color: $primary-color;
  display: inline-block;
  font-size: 0em;
  padding: 5px 8px;
  margin: 3px 10px 3px 3px;
  height: 28px;
  width: 28px;
}

.btn-yummly {
  background-color: $neutral-light;
  font-size: 1em;
  padding: 1px 10px;
  margin: 10px 10px 10px 0; 
}

.special_alert {
  background: none;
  border: none; 
  color: $primary-color; 
  //display: none;
  left: 10%;
  margin: 0; 
  padding: 0; 
  position: absolute; 
  right: 10%; 
  width: 80%; 
}

.special_input {
  border: 1px solid $neutral-light;
  margin: 0 0 20px 10px;
  padding: 10px 5px;
  height: 50px;
  width: 180px;
  font-size: 1.2em;
  vertical-align: bottom;
}


/*** PANEL STYLES ***/

.panel {
  padding: 25px 15px;
  min-height: 300px;
  min-width: 330px;
}

.panel-text {
  font-size: 1.2em;
  margin: 25px 20px;
}

.panel-default {
  opacity: 0.8;
}

/*** API RESULTS ***/

.API-logo {
  width: 17px;
  position: absolute;
  margin-top: 12px;
  right: 10px;
  opacity: 0.5;
  z-index: 1;
}

.results-box {
  margin-bottom: 25px;
  padding: 0px !important;
  border: 1px #E5E3E3 solid;
  -webkit-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -kthtml-transition: all 300ms linear;
  transition: all 300ms linear;

}

.results-box-content {
  padding: 10px 20px 20px;
  background-color: #ffffff;
}

.results-image {
  width: 100%;
  position: relative;
}

.results-image-container {
  border-bottom: 4px solid $primary-color;
  overflow: hidden;

  &.yummly-image-container {
    max-height: 237px;
  }

}

.results-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  margin-bottom: 5px;
}

.results-box a {
  text-decoration:none;
  color: $neutral-dark;
}

.results-box a:hover {
  color: $primary-color;
}

/*** MASONRY STYLES ***/

*, *:before, *:after {box-sizing:  border-box !important;}

.masonry-outer-container {
  -moz-column-width: 2em;
  -webkit-column-width: 25em;
  -moz-column-gap: 0;
  -webkit-column-gap: 0; 
}

.masonry-outer-container > .col-md-4 {
  display: inline-block;
  float: none;
  margin: 0;
  width:  100%;
}


/*** FOOTER STYLES ***/

#footer {
  background: url('footer_bckgd.png') no-repeat 0 0; 
  background-size: auto 300px; 
  background-color: $neutral-extra-light;
  height: 300px; 
}

.footer-item {
  display: inline-block;
  margin: 0 20px;
  color: $neutral-dark;
}

/*** GENERAL STYLES ***/

.buffer-left {
  margin-left: 15px;
}

.buffer-right {
  margin-right: 15px;
}

.buffer-top {
  margin-top: 15px;
}

.buffer-bottom {
  margin-bottom: 15px;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.pull-center {
  text-align: center;
}

.divider-line {
  display: inline-block;
  padding-right: 8px;
  padding-left: 8px;
}

h1 {
  font-weight: 900;
  font-size: 3em;
  margin-top: 50px;
  margin-bottom: 20px;
}

h2, h3, h4 {
  line-height: 1.4em;
}

.jumbotron {
  color: white;
}

.jumbotron h1 {
  font-size: 3.8em;
}

.jumbotron h3 {
  font-size: 1.7em;
  font-weight: 300;
}

.title-border {
  border-bottom: 4px solid;
  width: 35%;
}