/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

/*** HEADER STYLES ***/

#header-container {
  background:#ea6c5d;
  height:60px;
  left:0;
  position:fixed;
  width:100%;
  top:0;
  z-index: 1;
}

#header{
  line-height:60px;
  margin:0 auto;
  width:100%;
}

#header-offset {
  height: 60px;
}

@mixin animation($name, $duration) {
  -webkit-animation: $name $duration;
  -mox-animation: $name $duration;
  -o-animation: $name $duration;
  animation: $name $duration;
}

.logo-sm {
  width: 150px;
  margin-top: 0px;
}

@mixin vendor-prefix-keyframes($name, $property, $from, $to) {
  @-o-keyframes $name {
    from { #{$property}: $from; }
    to { #{$property}: $to; }
  }

  @-moz-keyframes $name {
    from { #{$property}: $from; }
    to { #{$property}: $to; }
  }

  @-webkit-keyframes $name {
    from { #{$property}: $from; }
    to { #{$property}: $to; }
  }

  @keyframes $name {
    from { #{$property}: $from; }
    to { #{$property}: $to; }
  }
}

@include vendor-prefix-keyframes(slideIn, margin-top, -100px, 0px);

.nav-item {
  display: inline-block;
  margin: 0 20px;
}

.nav-item a {
  color: white;
  font-size: 1em;
}

.nav-item a:hover {
  text-decoration: none;
  border-bottom: 3px solid white;
}

/* banner that appears below navigation, not sticky */
.banner-image {
  background-image: url('nutella-muffin-placeholder.jpg');
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
}

/*** MAIN SITE BODY ***/

body {
  background: #eee;
  color: #555555;
  font-family: 'Lato', sans-serif;
  line-height: 1.4em;
}

.home-bckgd body {
  background: none;
}

/*** BUTTON STYLES ***/

.btn {
  font-size: 1.4em;
  margin: 0 15px 20px 15px;
  padding: 10px 25px;
  color: white;
}

.btn:hover {
  color:white;
  opacity: 0.7;
}

.btn a {
  color: white;
}

.btn a:hover {
  color: white;
  text-decoration: none;
}

.btn-primary {
  background-color: #ea6c5d;
  border-color: #ea6c5d;
  font-weight: 400;
}

.btn-primary:hover {
  background-color: #ea6c5d;
  border-color: #ea6c5d;
}

.btn-primary:active {
  background-color: #ea6c5d;
  border-color: #ea6c5d;
}

.btn-yummly-logo {
  font-size: 0em;
  padding: 5px 8px;
  margin: 3px 10px 3px 3px;
  background-color: #ea6c5d;
  border-color: #ea6c5d;
  width: 28px;
  height: 28px;
  display: inline-block;
}

.btn-yummly {
  padding: 1px 10px;
  margin: 10px 10px 10px 0;
  background-color: #C4C4C4;
  font-size: 1em;
}

.special_alert
{
  background: none;
  border: none; 
  color: #ea6c5d; 
  //display: none;
  left: 10%;
  margin: 0; 
  padding: 0; 
  position: absolute; 
  right: 10%; 
  width: 80%; 
}

.special_input
{
  margin: 0 0 20px 10px;
  padding: 10px 5px;
  height: 50px;
  width: 180px;
  border: 1px solid #CCC;
  font-size: 1.2em;
  vertical-align: bottom;
}

/*** PANEL STYLES ***/

.panel {
  padding: 25px 15px;
  min-height: 300px;
  min-width: 330px;
}

.panel-text {
  font-size: 1.2em;
  margin: 25px 20px;
}

.panel-default {
  opacity: 0.8;
}

/*** API RESULTS ***/

.API-logo {
  width: 17px;
  position: absolute;
  margin-top: 12px;
  right: 10px;
  opacity: 0.5;
}

.results-box {
  margin-bottom: 30px;
  padding: 0px !important;
  border: 1px #E5E3E3 solid;
  -webkit-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -kthtml-transition: all 300ms linear;
  transition: all 300ms linear;

}


.results-box-content {
  padding: 10px 20px;
  background-color: #ffffff;
}

.results-image {
  width: 100%;
  position: relative;
}

.results-image-container {
  max-height: 237px;
  overflow: hidden;
  border-bottom: 4px solid #ea6c5d;
}

.results-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

//.glimmer {
//  -webkit-box-shadow: 0px 0px 4px 2px #c9c9c9;
//  -moz-box-shadow: 0px 0px 4px 2px #c9c9c9;
//  box-shadow: 0px 0px 4px 2px #c9c9c9;
//  -webkit-transition: all 250ms linear;
//  -o-transition: all 250ms linear;
//  -moz-transition: all 250ms linear;
//  -ms-transition: all 250ms linear;
//  -kthtml-transition: all 250ms linear;
//  transition: all 250ms linear;
//}

/*** GENERAL STYLES ***/

.buffer-left {
  margin-left: 15px;
}

.buffer-right {
  margin-right: 15px;
}

.buffer-top {
  margin-top: 15px;
}

.buffer-bottom {
  margin-bottom: 15px;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 3em;
}

h2, h3, h4 {
  line-height: 1.4em;
}

.pull-center {
  text-align: center;
}

.title-border {
  border-bottom: 4px solid;
  width: 35%;
}