// Place all the styles related to the external_recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*** YUMMLY RATING STARS ***/

.star-grey {
  color: #C4C4C4;
}

.star-pink {
  color: #ea6c5d;
}

.star-rating {
  width: 30%;
}