// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*** HOME PAGE STYLES ***/

.home-panel {
  opacity: 0;
}

.logo-lg {
  width: 300px;
  margin: 40px 0 60px;
  opacity: 0;
}

.logo {
  width: 300px;
  margin-bottom: 45px;
  margin-top: 40px;
}

.glyph-size-lg {
  font-size: 3em;
}

.home-bckgd {
  background: image-url("home_bckgd.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  //  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  //  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}

.home-title {
  margin-top: 20px;
  margin-bottom: 10px;
}


/*** ABOUT PAGE STYLES ***/

.skrollr-desktop body {
  height: 100% !important;
}

#skrollr-body {
  height: 100%;
  overflow: visible;
  position: relative;

  .row {
    padding:0;
    margin: 0;
  }

  .content-bar {
    padding-top: 60px;
    padding-bottom: 100px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .content-img{
    margin: 10px 30px;
  }

  h1, h2, h3, h4 {
    padding-top: 0;
    padding-bottom: 20px;
    margin-top: 0;
    text-transform: capitalize;
  }

  .content-full {
    height: 100%;
  }

  .jumbotron {
    background: none;
    margin-bottom: 0px;

    h1, h2, h3, h4 {
      text-transform: none;
      color: white;
    }
  }

  .panel {
    padding: 50px 0;
  }

  .col-text {
    padding:0;
    margin: 0;
  }

  .vcenter {
    margin:0;
    padding:0;
    display: table-cell;
    vertical-align: middle;
    float: none !important;
  }

}

.parallax-image-wrapper {
  position: fixed;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.parallax-image-wrapper-50 {
  height: 50%;
  top: -50%;
}

.parallax-image-wrapper-100 {
  height: 100%;
  top: -100%;
}

.parallax-image {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.parallax-image-50 {
  height: 200%;
  top: -50%;
}

.parallax-image-100 {
  height: 100%;
  top: 0;
}

.parallax-image.skrollable-between {
  display: block;
}

.no-skrollr .parallax-image-wrapper {
  display: none !important;
}

.gap {
  background: transparent center no-repeat;
  background-size: cover;
}

.skrollr .gap {
  background: transparent !important;
}

.gap-50 {
  height: 50%;
}

.gap-100 {
  height: 100%;
}

#img-anchor-01 {
  margin-top: -60px;
}

$img-numbs: 1 2 3 4 5;
@each $item in $img-numbs {
  #img-0#{$item} {
    background-image: image-url('about_bckgd_0#{$item}.jpg');
  }
}

.big-numb {
  font-size: 3.5em;
  line-height: 1em;
  margin-top: 15px;
  font-weight: 300;
}


/*** ARROW STYLES ***/

.down-arrow, .down-arrow-alt, .up-arrow, .up-arrow-alt, .home-about {
  cursor: pointer;
  margin: 0 auto;
  height: 40px;
  width: 50px;
  display: block;
  opacity: 0.6;
  position: absolute;
  bottom: 15px;
  left: 40%;
  right: 40%;
}

.home-about a {
  color: white;
}

.down-arrow {
  background: image-url('icon_down_arrow.png');
}

.down-arrow-alt {
  background: image-url('icon_down_arrow_alt.png');
}

.up-arrow {
  background: image-url('icon_up_arrow.png');
}

.up-arrow-alt {
  background: image-url('icon_up_arrow_alt.png');
}


/*** SOCIAL ICONS ***/

a .social {
  margin: 2px;
  height: 30px;
  width: 30px;
  overflow: hidden;
  background-position: 0 0;
  display: inline-block;
}

a .social:hover {
  background-position: 0 -30px;
}

$social-media: linkedin github pinterest twitter instagram portfolio;
@each $item in $social-media {
  .#{$item} {
    background: image-url('icon_#{$item}.png') no-repeat;
  }
}


/*** MEDIA QUERIES ***/

@media (max-width: 992px) {

  a .social {
    margin-bottom: 20px;
  }

  #skrollr-body .stat-container {
    padding-bottom: 50px;
    
    .content-img {
      margin-bottom: 0;
    }    
  }

}

@media (max-width: 768px) {
  
  #skrollr-body {

    .content-img {
      margin-bottom: 30px;
      height: 125px;
      width: 125px;
    }

    h1 {
      padding: 0;
      margin: 20px 0;
      text-align:center;
    }

    .jumbotron h1 {
      text-align: left;
      font-size: 3.1em;
      margin-top: 65px;
    }

    .vcenter {
      display: inline-block;
      text-align: justify;
    }
    
  }

}