// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.glyph-size-lg {
    font-size: 3em;
}

html {
  background: url(24530627-abstract-food-background-on-vintage-boards-with-wooden-spoon.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
//  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
//  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}

.logo {
  width: 300px;
  margin-bottom: 45px;
  margin-top: 40px;
}

.panel {
  padding: 25px 15px;
  min-height: 350px;
}

.panel-text {
  font-size: 1.3em;
  margin: 25px 20px;
}

.panel-default {
  opacity: 0.92;
}

